# Autosave files
*.asv
*.m~
*.autosave
*.slx.r*
*.mdl.r*

# Derived content-obscured files
*.p

# Compiled MEX files
*.mex*

# Code generation folders
slprj/
sccprj/
codegen/
hdlsrc/
build/
artifacts/benchmarks/results/
artifacts/build/
artifacts/slprj/
artifacts/simulink_cache/

# Simulink temp / project artifacts
tmp_*.slx

# Cache files
*.slxc

# Cloud based storage dotfile
.MATLABDriveTag

# buildtool cache folder
.buildtool/

# SimBiology backup files
*.sbproj.bak
